DataFactory/pipeline/adf_pl_master.json
{
	"name": "adf_pl_master",
	"properties": {
		"activities": [
			{
				"name": "Intiate_Batch",
				"description": "",
				"type": "DatabricksSparkPython",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
					"parameters": [
						"create_batch",
						"@pipeline().parameters.application_short_name",
						"@pipeline().parameters.source",
						"@pipeline().parameters.audit_db"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Close_Batch",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "MV Refresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
					"parameters": [
						"close_batch",
						"@pipeline().parameters.application_short_name",
						"@pipeline().parameters.source",
						"@pipeline().parameters.audit_db",
						"COMPLETED"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "adf_pl_master_stage_load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Intiate_Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "adf_pl_master_stage_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"application_short_name": {
							"value": "@activity('adf_pl_params').output.value[0].param_value",
							"type": "Expression"
						},
						"source": {
							"value": "@activity('adf_pl_params').output.value[1].param_value",
							"type": "Expression"
						},
						"audit_db": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						},
						"source_db": {
							"value": "@activity('adf_pl_params').output.value[5].param_value",
							"type": "Expression"
						},
						"target_db": {
							"value": "@activity('adf_pl_params').output.value[6].param_value",
							"type": "Expression"
						},
						"environment": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "adf_pl_master_refined_load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Update Policy Job Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "adf_pl_master_refined_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"application_short_name": {
							"value": "@activity('adf_pl_params').output.value[0].param_value",
							"type": "Expression"
						},
						"source": {
							"value": "@activity('adf_pl_params').output.value[1].param_value",
							"type": "Expression"
						},
						"audit_db": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						},
						"source_db": {
							"value": "@activity('adf_pl_params').output.value[5].param_value",
							"type": "Expression"
						},
						"target_db": {
							"value": "@activity('adf_pl_params').output.value[6].param_value",
							"type": "Expression"
						},
						"environment": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "MV Refresh",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "adf_pl_master_refined_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
					"parameters": [
						"refined_load",
						"@pipeline().parameters.application_short_name",
						"@pipeline().parameters.source",
						"@pipeline().parameters.audit_db",
						"@pipeline().parameters.source_db",
						"@pipeline().parameters.target_db",
						"MV_POLICY_ACTION_JOB",
						"refined",
						"@pipeline().parameters.environment"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "adf_repair_cyber_tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Close_Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "adf_pl_repair_tables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Update Policy Job Status",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "adf_pl_master_stage_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
					"parameters": [
						"refined_load",
						"@pipeline().parameters.application_short_name",
						"@pipeline().parameters.source",
						"@pipeline().parameters.audit_db",
						"@pipeline().parameters.source_db",
						"@pipeline().parameters.target_db",
						"VALIDATE_POLICY_ACTION_JOB",
						"refined",
						"@pipeline().parameters.environment"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"application_short_name": {
				"type": "string"
			},
			"source": {
				"type": "string"
			},
			"audit_db": {
				"type": "string"
			},
			"source_db": {
				"type": "string"
			},
			"target_db": {
				"type": "string"
			},
			"environment": {
				"type": "string"
			}
		},
		"folder": {
			"name": "APP_SHARED"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-16T09:54:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}