DataFactory/pipeline/horse_stage_table_load.json
{
	"name": "horse_stage_table_load",
	"properties": {
		"activities": [
			{
				"name": "POLICY_ACTION Stage load",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "adf_pl_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_ACTION",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ANIMALS Stage load",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "POLICY_LOB_RISK_UNIT Stage load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"ANIMALS",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "POLICY_LOB Stage load",
				"description": "policy_segment_attribute",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "POLICY_ACTION Stage load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_LOB",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "adf_pl_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "E2_HORSE_PARAMS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "POLICY_LOB_RISK_UNIT Stage load",
				"description": "party_address",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "POLICY_ACTION Stage load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_LOB_RISK_UNIT",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "POLICY COVERAGE Stage Load",
				"description": "policy_nonpremium_transaction",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "ANIMALS Stage load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_COVERAGE",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PARTY Stage load",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "adf_pl_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"PARTY",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "POLICY_NONPREMIUM Stage load",
				"description": "policy_nonpremium",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "POLICY_ACTION Stage load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_NONPREMIUM",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "POLICY COVERAGE SEGMENT Stage Load",
				"description": "policy_nonpremium_transaction",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "POLICY COVERAGE Stage Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_COVERAGE_SEGMENT",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "POLICY PREMIUM TRANSACTION Stage Load_copy",
				"description": "policy_premium_transaction",
				"type": "DatabricksSparkPython",
				"dependsOn": [
					{
						"activity": "POLICY COVERAGE SEGMENT Stage Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
					"parameters": [
						"stage_load",
						"@activity('adf_pl_params').output.value[0].param_value",
						"@activity('adf_pl_params').output.value[1].param_value",
						"@activity('adf_pl_params').output.value[2].param_value",
						"@activity('adf_pl_params').output.value[5].param_value",
						"@activity('adf_pl_params').output.value[6].param_value",
						"POLICY_PREMIUM_TRANSACTION",
						"stage",
						"@activity('adf_pl_params').output.value[3].param_value"
					],
					"libraries": [
						{
							"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "HORSE"
		},
		"annotations": []
	}
}