DataFactory/pipeline/pl_ext_reserve_csv.json
{
	"name": "pl_ext_reserve_csv",
	"properties": {
		"activities": [
			{
				"name": "dbx_Reserve_FileName",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Select_Statement",
					"baseParameters": {
						"Query": "SELECT Config_Value FROM Master_Config WHERE Config_Key ={} AND Config_IsActive = {}",
						"Parameters_List": " 'Reserve_File_Name',1",
						"Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_copy_Reserve_CSV_to_mDo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "sv_Reserve_FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_mdo_csv",
					"baseParameters": {
						"query": "SELECT\nCAST(ClaimMessage_MessageID AS VARCHAR(255)) AS ClaimMessage_MessageID,\nClaimMessage_MessageType,\nClaimMessage_CCMVersion,\nClaimMessage_CCMSchemaName,\nClaimMessage_OriginatingSystemCode,\nClaim_ReserveTransactionNumber,\nClaim_ReserveTransactionOriginatingSystemCode,\nClaim_ClaimFeatureNumber,\nClaim_PolicyNumber,\nCAST(Claim_ReserveTransactionSequenceNumber AS VARCHAR(255)) AS Claim_ReserveTransactionSequenceNumber,\n/* CAST(FORMAT(Reserve_EntryDate,'yyyy-MM-ddTHH:mm:ssZ') AS VARCHAR(255)) AS Reserve_EntryDate,\nCAST(CONVERT(DATE,Reserve_EffectiveDate) AS VARCHAR(255)) AS Reserve_EffectiveDate, */\nCAST(DATE_FORMAT(Reserve_EntryDate,'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'') AS VARCHAR(255)) AS Reserve_EntryDate,\nCAST(DATE_FORMAT(Reserve_EffectiveDate, 'yyyy-MM-dd') AS VARCHAR(255)) AS Reserve_EffectiveDate,\nDetails_CostTypeCode,\nDetails_CostCategoryCode,\nDetails_RecoveryTypeCode,\nCAST(Details_ReserveAmount AS VARCHAR(255)) AS Details_ReserveAmount ,\nDetails_CurrencyCode,\n/* CAST(CONVERT(DATETIME2(0),RecCrtTs) AS VARCHAR(30)) AS RecordCreateTime, */\nCAST(DATE_FORMAT(RecCrtTs, 'yyyy-MM-dd HH:mm:ss') AS VARCHAR(30)) AS RecordCreateTime,\nClaim_ClaimFolderNumber\nFROM STG_EXT_Reserve\nWHERE \nSent_To_CSV =0 and Is_current='Y'",
						"target": "STG_EXT_Reserve",
						"Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						},
						"param_MDO_FolderName": {
							"value": "@pipeline().parameters.param_MDO_FolderName",
							"type": "Expression"
						},
						"file_name": {
							"value": "@concat(variables('var_Reserve_FileName'),'_',pipeline().parameters.param_dbx_File_TimeStamp,'.csv')",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.param_storage_account_name",
							"type": "Expression"
						},
						"csv_container_name": {
							"value": "@pipeline().parameters.param_csv_container_name",
							"type": "Expression"
						},
						"query_container_name": {
							"value": "@pipeline().parameters.param_query_container_name",
							"type": "Expression"
						},
						"path": "reserve/csv_generation.sql"
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_Reserve_Inc_Log_Updates",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dbx_copy_Reserve_CSV_to_mDo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Reserve SPs/NB_usp_Reserve_Inc_Log_Updates",
					"baseParameters": {
						"Refined_Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Refined_Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						},
						"CDA_Schema_Name": {
							"value": "@pipeline().parameters.param_CDA_Schema_Name",
							"type": "Expression"
						},
						"CDA_Catalog_Name": {
							"value": "@pipeline().parameters.param_CDA_Catalog_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sv_Reserve_FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dbx_Reserve_FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_Reserve_FileName",
					"value": {
						"value": "@if(equals(activity('dbx_Reserve_FileName').output.runOutput, 'None'),'CCM_Feature_Reserve_Log_Daily',activity('dbx_Reserve_FileName').output.runOutput)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param_Refined_Catalog_Name": {
				"type": "string"
			},
			"param_Refined_Schema_Name": {
				"type": "string"
			},
			"param_MDO_FolderName": {
				"type": "string"
			},
			"param_dbx_File_TimeStamp": {
				"type": "string"
			},
			"param_CDA_Schema_Name": {
				"type": "string"
			},
			"param_CDA_Catalog_Name": {
				"type": "string"
			},
			"param_storage_account_name": {
				"type": "string"
			},
			"param_query_container_name": {
				"type": "string"
			},
			"param_csv_container_name": {
				"type": "string"
			}
		},
		"variables": {
			"var_Reserve_FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Claims Extract"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-09T06:53:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}