DataFactory/pipeline/pl_ext_litigation_master.json
{
	"name": "pl_ext_litigation_master",
	"properties": {
		"activities": [
			{
				"name": "dbx_Start_PL_Audit_Log",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log"
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "if_Prev_LitigationSecCounsel_PL_Complete",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dbx_Start_PL_Audit_Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('dbx_Start_PL_Audit_Log').output.runOutput.Prev_PL_Status_Complete, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "epl_ext_litigation_seccounsel",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ext_litigation_seccounsel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "dbx_End_PL_Audit_Log_S",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "epl_ext_litigation_seccounsel",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log"
							},
							"linkedServiceName": {
								"referenceName": "claims_data_extraction",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "dbx_End_PL_Audit_Log_F",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "epl_ext_litigation_seccounsel",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log"
							},
							"linkedServiceName": {
								"referenceName": "claims_data_extraction",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Claims Extract"
		},
		"annotations": []
	}
}