DataFactory/pipeline/pl_ext_secondarystatus_csv.json
{
	"name": "pl_ext_secondarystatus_csv",
	"properties": {
		"activities": [
			{
				"name": "dbx_Secondarystatus_FileName",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Select_Statement",
					"baseParameters": {
						"Query": "SELECT Config_Value FROM Master_Config WHERE Config_Key ={} AND Config_IsActive = {}",
						"Parameters_List": " 'Secondary_Status_File_Name',1",
						"Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_copy_Secondarystatus_CSV_to_mDo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "sv_Secondaryexaminer_FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_reserve_mdo_csv",
					"baseParameters": {
						"query": "SELECT \n\tCAST(SS.ClaimMessage_Message_ID AS VARCHAR(36)) AS ClaimMessage_MessageID\n\t,SS.ClaimMessage_MessageType\n\t,SS.ClaimMessage_CCMVersion\n\t,SS.ClaimMessage_CCMSchemaName\n\t,SS.ClaimMessage_OriginatingSystemCode\t\n\t,SS.Claim_ClaimFeatureNumber\n\t,DATE_FORMAT(SS.Claim_StatusDate,\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\") AS Claim_StatusDate\n\t,SS.Claim_SubStatusCode\n\t,SS.Claim_OutcomeCode\n\t,SS.Claim_PolicyNumber\n  ,DATE_FORMAT(SS.RecCrtTs,\"yyyy-MM-dd HH:mm:ss\") AS RecordCreateTime\n\t,SS.Claim_ClaimFolderNumber\nFROM dev_dds_edl_refined.claims.STG_EXT_SecondaryStatus SS\nWHERE SS.Is_Current = 'Y' AND SS.Sent_To_CSV = 0;",
						"target": "STG_EXT_SecondaryStatus",
						"Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						},
						"file_name": {
							"value": "@concat(variables('var_SecondaryStatus_FileName'),'_',pipeline().parameters.param_dbx_File_TimeStamp,'.csv')",
							"type": "Expression"
						},
						"param_MDO_FolderName": {
							"value": "@pipeline().parameters.param_MDO_FolderName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_Secondarystatus_Inc_Log_Updates",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dbx_copy_Secondarystatus_CSV_to_mDo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Secondary Status SPs/NB_usp_Secondary_Status_Inc_Log_Updates",
					"baseParameters": {
						"Refined_Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Refined_Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						},
						"CDA_Schema_Name": {
							"value": "@pipeline().parameters.param_CDA_Schema_Name",
							"type": "Expression"
						},
						"CDA_Catalog_Name": {
							"value": "@pipeline().parameters.param_CDA_Catalog_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sv_Secondaryexaminer_FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dbx_Secondarystatus_FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_SecondaryStatus_FileName",
					"value": {
						"value": "@if(equals(activity('dbx_Secondarystatus_FileName').output.runOutput, 'None'),'CCM_Feature_Status_Change_Daily',activity('dbx_Secondarystatus_FileName').output.runOutput)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param_Refined_Catalog_Name": {
				"type": "string"
			},
			"param_Refined_Schema_Name": {
				"type": "string"
			},
			"param_MDO_FolderName": {
				"type": "string"
			},
			"param_dbx_File_TimeStamp": {
				"type": "string"
			},
			"param_CDA_Schema_Name": {
				"type": "string"
			},
			"param_CDA_Catalog_Name": {
				"type": "string"
			}
		},
		"variables": {
			"var_SecondaryStatus_FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Claims Extract"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-15T16:40:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}