DataFactory/pipeline/pl_ext_insured_payment.json
{
	"name": "pl_ext_insured_payment",
	"properties": {
		"activities": [
			{
				"name": "dbx_Get_Insured_Payment_SrcQry",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Insured Payment SPs/NB_Get_insured_payment_SRC_Query",
					"baseParameters": {
						"Refined_Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Refined_Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						},
						"CDA_Catalog_Name": {
							"value": "@pipeline().parameters.param_CDA_Catalog_Name",
							"type": "Expression"
						},
						"CDA_Schema_Name": {
							"value": "@pipeline().parameters.param_CDA_Schema_Name",
							"type": "Expression"
						},
						"container_name": {
							"value": "@pipeline().parameters.param_container_name",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.param_storage_account_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_Load_SRC_EXT_Insured_payment",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dbx_Get_Insured_Payment_SrcQry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Load_SRC_EXT",
					"baseParameters": {
						"Query": {
							"value": "@activity('dbx_Get_Insured_Payment_SrcQry').output.runOutput",
							"type": "Expression"
						},
						"Table_Name": "src_ext_insuredpayment",
						"Refined_Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Refined_Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.param_storage_account_name",
							"type": "Expression"
						},
						"container_name": {
							"value": "@pipeline().parameters.param_container_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_Gen_Hash_SRC",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dbx_Load_SRC_EXT_Insured_payment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Gen_HashKey",
					"baseParameters": {
						"src_table": "SRC_EXT_InsuredPayment",
						"Refined_Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Refined_Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dbx_STG_Insured_Payment_Upsert",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dbx_Gen_Hash_SRC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Claims Remediation/Insured Payment SPs/NB_STG_insured_payment_Upsert",
					"baseParameters": {
						"batch_id": {
							"value": "@pipeline().parameters.param_Batch_ID",
							"type": "Expression"
						},
						"PL_Audit_ID": {
							"value": "@pipeline().parameters.param_PL_Audit_ID",
							"type": "Expression"
						},
						"Refined_Catalog_Name": {
							"value": "@pipeline().parameters.param_Refined_Catalog_Name",
							"type": "Expression"
						},
						"Refined_Schema_Name": {
							"value": "@pipeline().parameters.param_Refined_Schema_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "claims_data_extraction",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"param_Batch_ID": {
				"type": "string"
			},
			"param_PL_Audit_ID": {
				"type": "string"
			},
			"param_CDA_Catalog_Name": {
				"type": "string"
			},
			"param_CDA_Schema_Name": {
				"type": "string"
			},
			"param_Refined_Catalog_Name": {
				"type": "string"
			},
			"param_Refined_Schema_Name": {
				"type": "string"
			},
			"param_container_name": {
				"type": "string"
			},
			"param_storage_account_name": {
				"type": "string"
			}
		},
		"variables": {
			"var_Insured_Payment_Src_Query": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Claims Extract"
		},
		"annotations": []
	}
}