DataFactory/pipeline/Trigger_Cyber_Process.json
{
	"name": "Trigger_Cyber_Process",
	"properties": {
		"activities": [
			{
				"name": "adf_pl_master",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "adf_pl_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "adf_pl_master",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"application_short_name": {
							"value": "@activity('adf_pl_params').output.value[0].param_value",
							"type": "Expression"
						},
						"source": {
							"value": "@activity('adf_pl_params').output.value[1].param_value",
							"type": "Expression"
						},
						"audit_db": {
							"value": "@activity('adf_pl_params').output.value[2].param_value",
							"type": "Expression"
						},
						"source_db": {
							"value": "@activity('adf_pl_params').output.value[5].param_value",
							"type": "Expression"
						},
						"target_db": {
							"value": "@activity('adf_pl_params').output.value[6].param_value",
							"type": "Expression"
						},
						"environment": {
							"value": "@activity('adf_pl_params').output.value[3].param_value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "adf_pl_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "job_params",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "E2_CYBER"
		},
		"annotations": []
	}
}