mna-use2-dev-dds-adf-01/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mna-use2-dev-dds-adf-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ext_secondaryexaminer_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dbx_Secondaryexaminer_FileName",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Select_Statement",
							"baseParameters": {
								"Query": "SELECT Config_Value FROM Master_Config WHERE Config_Key ={} AND Config_IsActive = {}",
								"Parameters_List": " 'Secondary_Examiner_File_Name',1",
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								},
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dbx_copy_Secondaryexaminer_CSV_to_mDo",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "sv_Secondaryexaminer_FileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_reserve_mdo_csv",
							"baseParameters": {
								"query": "SELECT  \n\tCAST(ClaimMessage_Message_ID AS VARCHAR(255)) AS ClaimMessage_MessageID,\n\tClaimMessage_MessageType,\n\tClaimMessage_CCMVersion,\n\tClaimMessage_CCMSchemaName,\n\tClaimMessage_OriginatingSystemCode,\n\tClaim_ClaimFolderNumber,\n\tClaim_PolicyNumber,\n\tClaim_SecondaryClaimExaminerCode,\n\tCAST(DATE_FORMAT(Claim_AssignmentDate,'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'') AS VARCHAR(255)) AS Claim_AssignmentDate,\n\tClaim_ExaminerGroupCode,\n\t/* CAST(CONVERT(DATETIME2(0),RecCrtTs) AS VARCHAR(30)) AS RecordCreateTime */\n\tCAST(DATE_FORMAT(RecCrtTs, 'yyyy-MM-dd HH:mm:ss') AS VARCHAR(30)) AS RecordCreateTime\nFROM STG_EXT_SecondaryExaminer\nWHERE \nSent_To_CSV =0 and Is_current='Y'",
								"target": "STG_EXT_SecondaryExaminer",
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								},
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"file_name": {
									"value": "@concat(variables('var_SecondaryExaminer_FileName'),'_',pipeline().parameters.param_dbx_File_TimeStamp,'.csv')",
									"type": "Expression"
								},
								"param_MDO_FolderName": {
									"value": "@pipeline().parameters.param_MDO_FolderName",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dbx_Secondaryexaminer_Inc_Log_Updates",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dbx_copy_Secondaryexaminer_CSV_to_mDo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Secondary Examiner SPs/NB_usp_secondaryexaminer_Inc_Log_Updates",
							"baseParameters": {
								"Refined_Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								},
								"Refined_Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"CDA_Schema_Name": {
									"value": "@pipeline().parameters.param_CDA_Schema_Name",
									"type": "Expression"
								},
								"CDA_Catalog_Name": {
									"value": "@pipeline().parameters.param_CDA_Catalog_Name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sv_Secondaryexaminer_FileName",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "dbx_Secondaryexaminer_FileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_SecondaryExaminer_FileName",
							"value": {
								"value": "@if(equals(activity('dbx_Secondaryexaminer_FileName').output.runOutput, 'None'),'CCM_Folder_Secondary_Examiner_Change_Daily',activity('dbx_Secondaryexaminer_FileName').output.runOutput)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param_Refined_Catalog_Name": {
						"type": "string"
					},
					"param_Refined_Schema_Name": {
						"type": "string"
					},
					"param_MDO_FolderName": {
						"type": "string"
					},
					"param_dbx_File_TimeStamp": {
						"type": "string"
					},
					"param_CDA_Schema_Name": {
						"type": "string"
					},
					"param_CDA_Catalog_Name": {
						"type": "string"
					}
				},
				"variables": {
					"var_SecondaryExaminer_FileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Claims Extract"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-15T16:40:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "adf_cyber_stage_table_list.txt",
						"container": "adf-cyber-metadata"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "policy_action_job",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dp_process_node_unity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CDA_AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dp_processFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().dp_processFileName",
							"type": "Expression"
						},
						"folderPath": "gw_adf_job_parameters",
						"container": "adf-cda-metadata"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamic_param_unity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CDA_AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "gw_adf_job_parameters",
						"container": "adf-cda-metadata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/job_params')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "param.csv",
						"container": "adf-cyber-metadata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "policy_action_job",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tgr_Cyber_Policy_Stage_load')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Month",
					"interval": 1,
					"startTime": "2024-04-12T16:11:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 10,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"offset": "0.00:11:00",
							"referenceTrigger": {
								"referenceName": "tgr_pl_cyber_policy_master",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_coverage_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LOB_LOCATION Refined load",
						"description": "LOB_LOCATION",
						"type": "DatabricksSparkPython",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"LOB_LOCATION",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_coverage_stg_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_lob_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "POLICY_LOB Refined load",
						"description": "policy_lob",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_SEGMENT Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "LOB_SEGMENT_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB_SEGMENT",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_SEGMENT_ATTRIBUTE Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"LOB_SEGMENT_ATTRIBUTE",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_lob_stg_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "POLICY_LOB Stage load",
						"description": "policy_lob",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_SEGMENT Stage load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "LOB_SEGMENT_ATTRIBUTE Stage loa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB_SEGMENT",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_SEGMENT_ATTRIBUTE Stage loa",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"LOB_SEGMENT_ATTRIBUTE",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "POLICY_ACTION Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION_JOB Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_ACTION",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_ADA Refined load",
						"description": "policy_additional_attribute\n",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_ADDITIONAL_ATTRIBUTE",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PARTY Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"PARTY",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_FORM Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_FORM",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_SEGMENT Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_SEGMENT",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_SEGMENT_A Refined load",
						"description": "policy_segment_attribute",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_SEGMENT_ATTRIBUTE",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PARTY_ADDRESS Refinedload",
						"description": "party_address",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"PARTY_ADDRESS",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_NONPREMIUM Refined load",
						"description": "policy_nonpremium",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_NONPREMIUM",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_NONPREMIUM_TRANSACTION Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_NONPREMIUM_TRANSACTION",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_ACTION_JOB Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_ACTION_JOB",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_PREMIUM Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_PREMIUM",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_risk_unit_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "POLICY_LOB_RISK_UNIT Refined load",
						"description": "policy_lob_risk_unit",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_LOB_RISK_UNIT",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_RISK_UNIT_SEGMENT Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB_RISK_UNIT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB_RISK_UNIT_SEGMENT",
								"stage to refined",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_risk_unit_stg_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "POLICY_LOB_RISK_UNIT Stage",
						"description": "policy_lob_risk_unit",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB_RISK_UNIT",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_RISK_UNIT_SEGMENT Stage load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB_RISK_UNIT Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_LOB_RISK_UNIT_SEGMENT",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_LOCATION Stage load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"LOB_LOCATION",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/9143fd48_1560_495c_9084_21fed6a2adc5/industryclouddatapipeline-0.1.2-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_e2_policy_stg_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "POLICY_ACTION Stage load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_ACTION",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_ADA Stage load",
						"description": "policy_additional_attribute\n",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_ADDITIONAL_ATTRIBUTE",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PARTY Stage load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"PARTY",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_FORM Stage load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_FORM",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_SEGMENT Stage load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_SEGMENT",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_SEGMENT_A Stage load",
						"description": "policy_segment_attribute",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"POLICY_SEGMENT_ATTRIBUTE",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "adf_pl_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "job_params",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PARTY_ADDRESS Stage load",
						"description": "party_address",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"dev_dds_edl_refined.audit",
								"PARTY_ADDRESS",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_NONPREMIUM Stage load",
						"description": "policy_nonpremium",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_NONPREMIUM",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_NONPREMIUM_TRANSACTION Stage load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_NONPREMIUM_TRANSACTION",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_PREMIUM Stage load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "adf_pl_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup_4.py",
							"parameters": [
								"stage_load",
								"@activity('adf_pl_params').output.value[0].param_value",
								"@activity('adf_pl_params').output.value[1].param_value",
								"@activity('adf_pl_params').output.value[2].param_value",
								"POLICY_PREMIUM",
								"raw to stage",
								"@activity('adf_pl_params').output.value[3].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/c4cdda1d_b2cf_4c19_98fc_61bbb6e7d1e2/industryclouddatapipeline-0.1.4-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/job_params')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gw_adf_data_recon_unity_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_gw_adf_pl_config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dynamic_param_unity",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@concat(pipeline().parameters.TriggerParam, variables('slash'), variables('gw_adf_pl_config'))",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "data_reconciliation",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "get_gw_adf_pl_config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/adf_setup.py",
							"parameters": [
								"data_reconciliation_parallel",
								"@activity('get_gw_adf_pl_config').output.value[2].param_value",
								"@activity('get_gw_adf_pl_config').output.value[0].param_value",
								"@activity('get_gw_adf_pl_config').output.value[4].param_value",
								"@activity('get_gw_adf_pl_config').output.value[6].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/5610c152_daa6_4f11_9fb9_0fe1919dfd59/cdaaccelerator-0.0.1-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "CDA_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TriggerParam": {
						"type": "string"
					}
				},
				"variables": {
					"slash": {
						"type": "String",
						"defaultValue": "/"
					},
					"gw_adf_pl_config": {
						"type": "String",
						"defaultValue": "gw_adf_pl_config.csv"
					}
				},
				"folder": {
					"name": "CDA"
				},
				"annotations": [],
				"lastPublishTime": "2024-02-01T13:26:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dynamic_param_unity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gw_adf_dp_process_node_unity_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachBusinessCenter",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_dp_node_process_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_dp_node_process_params').output.value",
								"type": "Expression"
							},
							"batchCount": 12,
							"activities": [
								{
									"name": "dp_node_process",
									"type": "DatabricksSparkPython",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pythonFile": "dbfs:/FileStore/adf_setup.py",
										"parameters": [
											"db_process_node",
											"@item().node_list",
											"@item().table_name",
											"@item().fingerprint_id",
											"@item().gw_center",
											"@item().is_synapse"
										],
										"libraries": [
											{
												"whl": "dbfs:/FileStore/jars/5610c152_daa6_4f11_9fb9_0fe1919dfd59/cdaaccelerator-0.0.1-py3-none-any.whl"
											}
										]
									},
									"linkedServiceName": {
										"referenceName": "CDA_AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "get_dp_node_process_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Dp_process_node_unity",
								"type": "DatasetReference",
								"parameters": {
									"dp_processFileName": {
										"value": "@concat(pipeline().parameters.GwcenterName, variables('slash'), variables('dp_process_node_file_path'))",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"GwcenterName": {
						"type": "string"
					}
				},
				"variables": {
					"slash": {
						"type": "String",
						"defaultValue": "/"
					},
					"dp_process_node_file_path": {
						"type": "String",
						"defaultValue": "gw_adf_pl_dp_process_node_config.csv"
					},
					"gw_adf_job_parameters": {
						"type": "String",
						"defaultValue": "gw_adf_job_parameters"
					}
				},
				"folder": {
					"name": "CDA"
				},
				"annotations": [],
				"lastPublishTime": "2024-02-02T11:40:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dp_process_node_unity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gw_adf_unity_config_generator_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "generate_config",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "get_gw_adf_pl_config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/adf_setup.py",
							"parameters": [
								"generate_config",
								"@activity('get_gw_adf_pl_config').output.value[2].param_value",
								"@activity('get_gw_adf_pl_config').output.value[0].param_value",
								"@activity('get_gw_adf_pl_config').output.value[1].param_value",
								"@activity('get_gw_adf_pl_config').output.value[5].param_value",
								"@activity('get_gw_adf_pl_config').output.value[6].param_value"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/5610c152_daa6_4f11_9fb9_0fe1919dfd59/cdaaccelerator-0.0.1-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "CDA_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get_gw_adf_pl_config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dynamic_param_unity",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@concat(pipeline().parameters.TriggerParam, variables('slash'), variables('gw_adf_pl_config'))",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TriggerParam": {
						"type": "string"
					}
				},
				"variables": {
					"slash": {
						"type": "String",
						"defaultValue": "/"
					},
					"gw_adf_pl_config": {
						"type": "String",
						"defaultValue": "gw_adf_pl_config.csv"
					}
				},
				"folder": {
					"name": "CDA"
				},
				"annotations": [],
				"lastPublishTime": "2024-02-01T13:26:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dynamic_param_unity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ext_primaryexaminer_csv_generation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dbx_File_TimeStamp",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Select_Statement",
							"baseParameters": {
								"Query": "SELECT Ext_FileSuffix FROM LOG_Batch_Identifier\nWHERE Batch_ID = '{}'",
								"Parameters_List": {
									"value": "@pipeline().parameters.param_Batch_ID",
									"type": "Expression"
								},
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dbx_Start_PL_Audit_Log",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dbx_File_TimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
							"baseParameters": {
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								},
								"pl_activity_name": {
									"value": "@variables('var_Activity_Name')",
									"type": "Expression"
								},
								"in_pl_audit_id": " ",
								"pl_comments": " ",
								"pl_log_state": {
									"value": "@variables('var_PL_Log_State_Ins')",
									"type": "Expression"
								},
								"pl_name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"pl_status": {
									"value": "@variables('var_PL_Log_Status_InProgress')",
									"type": "Expression"
								},
								"batch_id": {
									"value": "@pipeline().parameters.param_Batch_ID",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "if_Prev_Reserve_PL_Complete",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "dbx_Start_PL_Audit_Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('dbx_Start_PL_Audit_Log').output.runOutput.Prev_PL_Status_Complete, 'Y')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "dbx_End_PL_Audit_Log_S",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "epl_ext_primaryexaminer_csv",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
										"baseParameters": {
											"Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"in_pl_audit_id": {
												"value": "@string(activity('dbx_Start_PL_Audit_Log').output.runOutput.pl_audit_id)",
												"type": "Expression"
											},
											"pl_activity_name": {
												"value": "@variables('var_Activity_Name')",
												"type": "Expression"
											},
											"pl_log_state": {
												"value": "@variables('var_PL_Log_State_Upd')",
												"type": "Expression"
											},
											"pl_name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"pl_status": {
												"value": "@variables('var_PL_Log_Status_Success')",
												"type": "Expression"
											},
											"pl_comments": " ",
											"batch_id": {
												"value": "@pipeline().parameters.param_Batch_ID",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "claims_data_extraction",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "epl_ext_primaryexaminer_csv",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ext_primaryexaminer_csv",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"param_Refined_Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"param_Refined_Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"param_MDO_FolderName": {
												"value": "@pipeline().parameters.param_MDO_FolderName",
												"type": "Expression"
											},
											"param_dbx_File_TimeStamp": {
												"value": "@activity('dbx_File_TimeStamp').output.runOutput",
												"type": "Expression"
											},
											"param_CDA_Schema_Name": {
												"value": "@pipeline().parameters.param_CDA_Schema_Name",
												"type": "Expression"
											},
											"param_CDA_Catalog_Name": {
												"value": "@pipeline().parameters.param_CDA_Catalog_Name",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "dbx_End_PL_Audit_Log_F",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "epl_ext_primaryexaminer_csv",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
										"baseParameters": {
											"Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"batch_id": {
												"value": "@pipeline().parameters.param_Batch_ID",
												"type": "Expression"
											},
											"in_pl_audit_id": {
												"value": "@string(activity('dbx_Start_PL_Audit_Log').output.runOutput)",
												"type": "Expression"
											},
											"pl_activity_name": {
												"value": "@variables('var_Activity_Name')",
												"type": "Expression"
											},
											"pl_comments": {
												"value": "@activity('epl_ext_primaryexaminer_csv').Error.Message",
												"type": "Expression"
											},
											"pl_log_state": {
												"value": "@variables('var_PL_Log_State_Upd')",
												"type": "Expression"
											},
											"pl_name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"pl_status": {
												"value": "@variables('var_PL_Log_Status_Failure')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "claims_data_extraction",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param_Batch_ID": {
						"type": "string"
					},
					"param_MDO_FolderName": {
						"type": "string"
					},
					"param_Refined_Catalog_Name": {
						"type": "string"
					},
					"param_Refined_Schema_Name": {
						"type": "string"
					},
					"param_CDA_Catalog_Name": {
						"type": "string"
					},
					"param_CDA_Schema_Name": {
						"type": "string"
					}
				},
				"variables": {
					"var_Activity_Name": {
						"type": "String",
						"defaultValue": "PrimaryExaminer_CSV"
					},
					"var_PL_Log_State_Ins": {
						"type": "String",
						"defaultValue": "ins"
					},
					"var_PL_Log_Status_InProgress": {
						"type": "String",
						"defaultValue": "In-Progress"
					},
					"var_PL_Log_State_Upd": {
						"type": "String",
						"defaultValue": "upd"
					},
					"var_PL_Log_Status_Success": {
						"type": "String",
						"defaultValue": "Success"
					},
					"var_PL_Log_Status_Failure": {
						"type": "String",
						"defaultValue": "Failed"
					}
				},
				"folder": {
					"name": "Claims Extract"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-10T09:16:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ext_reserve_csv_generation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dbx_File_TimeStamp",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Select_Statement",
							"baseParameters": {
								"Query": "SELECT Ext_FileSuffix FROM LOG_Batch_Identifier\nWHERE Batch_ID = '{}'",
								"Parameters_List": {
									"value": "@pipeline().parameters.param_Batch_ID",
									"type": "Expression"
								},
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dbx_Start_PL_Audit_Log",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dbx_File_TimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
							"baseParameters": {
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								},
								"pl_activity_name": {
									"value": "@variables('var_Activity_Name')",
									"type": "Expression"
								},
								"in_pl_audit_id": " ",
								"pl_comments": " ",
								"pl_log_state": {
									"value": "@variables('var_PL_Log_State_Ins')",
									"type": "Expression"
								},
								"pl_name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"pl_status": {
									"value": "@variables('var_PL_Log_Status_InProgress')",
									"type": "Expression"
								},
								"batch_id": {
									"value": "@pipeline().parameters.param_Batch_ID",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "if_Prev_Reserve_PL_Complete",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "dbx_Start_PL_Audit_Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('dbx_Start_PL_Audit_Log').output.runOutput.Prev_PL_Status_Complete, 'Y')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "dbx_End_PL_Audit_Log_S",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "epl_ext_reserve_csv",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
										"baseParameters": {
											"Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"in_pl_audit_id": {
												"value": "@string(activity('dbx_Start_PL_Audit_Log').output.runOutput.pl_audit_id)",
												"type": "Expression"
											},
											"pl_activity_name": {
												"value": "@variables('var_Activity_Name')",
												"type": "Expression"
											},
											"pl_log_state": {
												"value": "@variables('var_PL_Log_State_Upd')",
												"type": "Expression"
											},
											"pl_name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"pl_status": {
												"value": "@variables('var_PL_Log_Status_Success')",
												"type": "Expression"
											},
											"pl_comments": " ",
											"batch_id": {
												"value": "@pipeline().parameters.param_Batch_ID",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "claims_data_extraction",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "epl_ext_reserve_csv",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ext_reserve_csv",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"param_Refined_Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"param_Refined_Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"param_MDO_FolderName": {
												"value": "@pipeline().parameters.param_MDO_FolderName",
												"type": "Expression"
											},
											"param_dbx_File_TimeStamp": {
												"value": "@activity('dbx_File_TimeStamp').output.runOutput",
												"type": "Expression"
											},
											"param_CDA_Schema_Name": {
												"value": "@pipeline().parameters.param_CDA_Schema_Name",
												"type": "Expression"
											},
											"param_CDA_Catalog_Name": {
												"value": "@pipeline().parameters.param_CDA_Catalog_Name",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "dbx_End_PL_Audit_Log_F",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "epl_ext_reserve_csv",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
										"baseParameters": {
											"Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"Batch_ID": {
												"value": "@pipeline().parameters.param_Batch_ID",
												"type": "Expression"
											},
											"in_pl_audit_id": {
												"value": "@string(activity('dbx_Start_PL_Audit_Log').output.runOutput)",
												"type": "Expression"
											},
											"pl_activity_name": {
												"value": "@variables('var_Activity_Name')",
												"type": "Expression"
											},
											"pl_comments": {
												"value": "@activity('epl_ext_reserve_csv').Error.Message",
												"type": "Expression"
											},
											"pl_log_state": {
												"value": "@variables('var_PL_Log_State_Upd')",
												"type": "Expression"
											},
											"pl_name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"pl_status": {
												"value": "@variables('var_PL_Log_Status_Failure')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "claims_data_extraction",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param_Batch_ID": {
						"type": "string"
					},
					"param_MDO_FolderName": {
						"type": "string"
					},
					"param_Refined_Catalog_Name": {
						"type": "string"
					},
					"param_Refined_Schema_Name": {
						"type": "string"
					},
					"param_CDA_Catalog_Name": {
						"type": "string"
					},
					"param_CDA_Schema_Name": {
						"type": "string"
					}
				},
				"variables": {
					"var_Reserve_FileName": {
						"type": "String"
					},
					"var_PL_Audit_ID": {
						"type": "String"
					},
					"var_Activity_Name": {
						"type": "String",
						"defaultValue": "Reserve_CSV"
					},
					"var_PL_Log_State_Ins": {
						"type": "String",
						"defaultValue": "ins"
					},
					"var_PL_Log_Status_InProgress": {
						"type": "String",
						"defaultValue": "In-Progress"
					},
					"var_PL_Log_State_Upd": {
						"type": "String",
						"defaultValue": "upd"
					},
					"var_PL_Log_Status_Success": {
						"type": "String",
						"defaultValue": "Success"
					},
					"var_PL_Log_Status_Failure": {
						"type": "String",
						"defaultValue": "Failed"
					},
					"var_Prev_Reserve_Status_Complete": {
						"type": "String"
					},
					"var_CSV_File_TimeStamp": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Claims Extract"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-09T14:01:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ext_secondaryexaminer_csv_generation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dbx_File_TimeStamp",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Select_Statement",
							"baseParameters": {
								"Query": "SELECT Ext_FileSuffix FROM LOG_Batch_Identifier\nWHERE Batch_ID = '{}'",
								"Parameters_List": {
									"value": "@pipeline().parameters.param_Batch_ID",
									"type": "Expression"
								},
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "if_Prev_Secondaryexaminer_PL_Complete",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "dbx_Start_PL_Audit_Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('dbx_Start_PL_Audit_Log').output.runOutput.Prev_PL_Status_Complete, 'Y')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "dbx_End_PL_Audit_Log_S",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "epl_ext_secondaryexaminer_csv",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
										"baseParameters": {
											"Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"in_pl_audit_id": {
												"value": "@string(activity('dbx_Start_PL_Audit_Log').output.runOutput.pl_audit_id)",
												"type": "Expression"
											},
											"pl_activity_name": {
												"value": "@variables('var_Activity_Name')",
												"type": "Expression"
											},
											"pl_log_state": {
												"value": "@variables('var_PL_Log_State_Upd')",
												"type": "Expression"
											},
											"pl_name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"pl_status": {
												"value": "@variables('var_PL_Log_Status_Success')",
												"type": "Expression"
											},
											"pl_comments": " ",
											"batch_id": {
												"value": "@pipeline().parameters.param_Batch_ID",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "claims_data_extraction",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "dbx_End_PL_Audit_Log_F",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "epl_ext_secondaryexaminer_csv",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
										"baseParameters": {
											"Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"Batch_ID": {
												"value": "@pipeline().parameters.param_Batch_ID",
												"type": "Expression"
											},
											"in_pl_audit_id": {
												"value": "@variables('var_PL_Audit_ID')",
												"type": "Expression"
											},
											"pl_activity_name": {
												"value": "@variables('var_Activity_Name')",
												"type": "Expression"
											},
											"pl_comments": {
												"value": "@activity('epl_ext_secondaryexaminer_csv').Error.Message",
												"type": "Expression"
											},
											"pl_log_state": {
												"value": "@variables('var_PL_Log_State_Upd')",
												"type": "Expression"
											},
											"pl_name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"pl_status": {
												"value": "@variables('var_PL_Log_Status_Failure')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "claims_data_extraction",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "epl_ext_secondaryexaminer_csv",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ext_secondaryexaminer_csv",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"param_Refined_Catalog_Name": {
												"value": "@pipeline().parameters.param_Refined_Catalog_Name",
												"type": "Expression"
											},
											"param_Refined_Schema_Name": {
												"value": "@pipeline().parameters.param_Refined_Schema_Name",
												"type": "Expression"
											},
											"param_MDO_FolderName": {
												"value": "@pipeline().parameters.param_MDO_FolderName",
												"type": "Expression"
											},
											"param_dbx_File_TimeStamp": {
												"value": "@activity('dbx_File_TimeStamp').output.runOutput",
												"type": "Expression"
											},
											"param_CDA_Schema_Name": {
												"value": "@pipeline().parameters.param_CDA_Schema_Name",
												"type": "Expression"
											},
											"param_CDA_Catalog_Name": {
												"value": "@pipeline().parameters.param_CDA_Catalog_Name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "dbx_Start_PL_Audit_Log",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dbx_File_TimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Claims Remediation/Parameterized Notebooks/NB_Audit_Log",
							"baseParameters": {
								"Schema_Name": {
									"value": "@pipeline().parameters.param_Refined_Schema_Name",
									"type": "Expression"
								},
								"Catalog_Name": {
									"value": "@pipeline().parameters.param_Refined_Catalog_Name",
									"type": "Expression"
								},
								"pl_activity_name": {
									"value": "@variables('var_Activity_Name')",
									"type": "Expression"
								},
								"in_pl_audit_id": " ",
								"pl_comments": " ",
								"pl_log_state": {
									"value": "@variables('var_PL_Log_State_Ins')",
									"type": "Expression"
								},
								"pl_name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"pl_status": {
									"value": "@variables('var_PL_Log_Status_InProgress')",
									"type": "Expression"
								},
								"batch_id": {
									"value": "@pipeline().parameters.param_Batch_ID",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "claims_data_extraction",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param_Batch_ID": {
						"type": "string"
					},
					"param_MDO_FolderName": {
						"type": "string"
					},
					"param_Refined_Catalog_Name": {
						"type": "string"
					},
					"param_Refined_Schema_Name": {
						"type": "string"
					},
					"param_CDA_Catalog_Name": {
						"type": "string"
					},
					"param_CDA_Schema_Name": {
						"type": "string"
					}
				},
				"variables": {
					"var_Activity_Name": {
						"type": "String",
						"defaultValue": "SecondaryExaminer_CSV"
					},
					"var_PL_Log_State_Ins": {
						"type": "String",
						"defaultValue": "ins"
					},
					"var_PL_Log_Status_InProgress": {
						"type": "String",
						"defaultValue": "In-Progress"
					},
					"var_PL_Log_State_Upd": {
						"type": "String",
						"defaultValue": "upd"
					},
					"var_PL_Log_Status_Success": {
						"type": "String",
						"defaultValue": "Success"
					},
					"var_PL_Log_Status_Failure": {
						"type": "String",
						"defaultValue": "Failed"
					},
					"var_Prev_Reserve_Status_Complete": {
						"type": "String",
						"defaultValue": " "
					},
					"var_CSV_File_TimeStamp": {
						"type": "String",
						"defaultValue": " "
					},
					"var_Reserve_FileName": {
						"type": "String",
						"defaultValue": " "
					},
					"var_PL_Audit_ID": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Claims Extract"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-15T07:57:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ext_secondaryexaminer_csv')]"
			]
		}
	]
}