mna-use2-dev-dds-adf-01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mna-use2-dev-dds-adf-01"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks'"
		},
		"CDA_AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'CDA_AzureDatabricks'"
		},
		"claims_data_extraction_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'claims_data_extraction'"
		},
		"AzureBlobStorage_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'AzureBlobStorage'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mnause2devddsadls01.dfs.core.windows.net/"
		},
		"AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0227-095127-mm0bihzy"
		},
		"CDA_AzureBlobStorage_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'CDA_AzureBlobStorage'"
		},
		"CDA_AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0522-063449-xazmzggb"
		},
		"claims_data_extraction_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0430-191614-k5iu0hhh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('AzureBlobStorage_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3012775336824955.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDA_AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('CDA_AzureBlobStorage_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDA_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3012775336824955.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('CDA_AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('CDA_AzureDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/claims_data_extraction')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3012775336824955.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('claims_data_extraction_accessToken')]"
					},
					"existingClusterId": "[parameters('claims_data_extraction_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgr_pl_cyber_policy_master')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Month",
					"interval": 1,
					"startTime": "2024-04-12T16:22:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Databricks_Orchestration')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/bc5d5464-b9cd-48a2-a999-e83e40766e6d/resourcegroups/mna-use2-dev-rg-dds-01/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mna-use2-dev-dds-managedidentity-01"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls-creden')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/bc5d5464-b9cd-48a2-a999-e83e40766e6d/resourcegroups/mna-use2-dev-rg-dds-01/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mna-use2-dev-dds-managedidentity-01"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/user-mi-2')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/bc5d5464-b9cd-48a2-a999-e83e40766e6d/resourcegroups/mna-use2-dev-rg-dds-01/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mna-use2-dev-dds-managedidentity-01"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_policy_coverage_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COVERAGE_SEGMENT_ATTRIBUTE Refined load",
						"description": "COVERAGE_SEGMENT_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_ADDITIONAL_ATTRIBUTE Refined load",
						"description": "COVERAGE_ADDITIONAL_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_ADDITIONAL_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_COVERAGE Refined load",
						"description": "POLICY_COVERAGE",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_COVERAGE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_SIR Refined load",
						"description": "COVERAGE_SEGMENT_SIR",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_SIR_COLLECTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_SIR",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_COVERAGE_SEGMENT Refined load",
						"description": "POLICY_COVERAGE_SEGMENT",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_SIR Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_ADL_ATTRIBUTERefined load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_LIMIT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_DEDUCTIBLE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_COVERAGE_SEGMENT",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_ADL_ATTRIBUTE_COLLECTION Refined load",
						"description": "COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_ADDITIONAL_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE_COLLECTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_SIR_COLLECTION Refined load",
						"description": "COVERAGE_SEGMENT_SIR_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_ADDITIONAL_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_SIR_COLLECTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_LIMIT_COLLECTION Refined load",
						"description": "COVERAGE_SEGMENT_LIMIT_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_ADDITIONAL_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_LIMIT_COLLECTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_ADL_ATTRIBUTERefined load",
						"description": "COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_ADL_ATTRIBUTE_COLLECTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_DEDUCTIBLE Refined load",
						"description": "COVERAGE_SEGMENT_DEDUCTIBLE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_DEDUCTIBLE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_LIMIT Refined load",
						"description": "COVERAGE_SEGMENT_LIMIT",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_LIMIT_COLLECTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_LIMIT",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION Refined load",
						"description": "COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_ADDITIONAL_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_PREMIUM_TRANSACTION Refined load",
						"description": "POLICY_PREMIUM_TRANSACTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_PREMIUM_TRANSACTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"application_short_name": {
						"type": "string"
					},
					"source": {
						"type": "string"
					},
					"audit_db": {
						"type": "string"
					},
					"source_db": {
						"type": "string"
					},
					"target_db": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "APP_SHARED"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_policy_coverage_stg_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COVERAGE_SEGMENT_ATTRIBUTE Stage load",
						"description": "COVERAGE_SEGMENT_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_ATTRIBUTE",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_ADDITIONAL_ATTRIBUTE Stage load",
						"description": "COVERAGE_ADDITIONAL_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_ADDITIONAL_ATTRIBUTE",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_COVERAGE Stage load",
						"description": "POLICY_COVERAGE",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_COVERAGE",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_SIR Stage load",
						"description": "COVERAGE_SEGMENT_SIR",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_SIR_COLLECTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_SIR",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_COVERAGE_SEGMENT Stage load",
						"description": "POLICY_COVERAGE_SEGMENT",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_SIR Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_LIMIT Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_DEDUCTIBLE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_ATTRIBUTE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COVERAGE_SEGMENT_ADL_ATTRIBUTEStage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_COVERAGE_SEGMENT",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_ADL_ATTRIBUTE_COLLECTION Stage load",
						"description": "COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE_COLLECTION",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_SIR_COLLECTION Stage load",
						"description": "COVERAGE_SEGMENT_SIR_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_SIR_COLLECTION",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_LIMIT_COLLECTION Stage load",
						"description": "COVERAGE_SEGMENT_LIMIT_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_LIMIT_COLLECTION",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_ADL_ATTRIBUTEStage load",
						"description": "COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_ADL_ATTRIBUTE_COLLECTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_ADDITIONAL_ATTRIBUTE",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_DEDUCTIBLE Stage load",
						"description": "COVERAGE_SEGMENT_DEDUCTIBLE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_DEDUCTIBLE",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_LIMIT Stage load",
						"description": "COVERAGE_SEGMENT_LIMIT",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "COVERAGE_SEGMENT_LIMIT_COLLECTION Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_LIMIT",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION Stage load",
						"description": "COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"COVERAGE_SEGMENT_DEDUCTIBLE_COLLECTION",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_PREMIUM_TRANSACTION Stage load",
						"description": "POLICY_PREMIUM_TRANSACTION",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_COVERAGE_SEGMENT Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_PREMIUM_TRANSACTION",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"application_short_name": {
						"type": "string"
					},
					"source": {
						"type": "string"
					},
					"audit_db": {
						"type": "string"
					},
					"source_db": {
						"type": "string"
					},
					"target_db": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "APP_SHARED"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_policy_lob_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "POLICY_LOB Refined load",
						"description": "policy_lob",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_LOB",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_SEGMENT Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "LOB_SEGMENT_ATTRIBUTE Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_LOB_SEGMENT",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_SEGMENT_ATTRIBUTE Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"LOB_SEGMENT_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"application_short_name": {
						"type": "string"
					},
					"source": {
						"type": "string"
					},
					"audit_db": {
						"type": "string"
					},
					"source_db": {
						"type": "string"
					},
					"target_db": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "APP_SHARED"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_policy_lob_stg_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "POLICY_LOB Stage load",
						"description": "policy_lob",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_LOB",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_SEGMENT Stage load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "LOB_SEGMENT_ATTRIBUTE Stage loa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_LOB_SEGMENT",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_SEGMENT_ATTRIBUTE Stage loa",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB Stage load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"LOB_SEGMENT_ATTRIBUTE",
								"stage",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"application_short_name": {
						"type": "string"
					},
					"source": {
						"type": "string"
					},
					"audit_db": {
						"type": "string"
					},
					"source_db": {
						"type": "string"
					},
					"target_db": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "APP_SHARED"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_policy_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "POLICY_ACTION Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION_JOB Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_ACTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_ADA Refined load",
						"description": "policy_additional_attribute\n",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_ADDITIONAL_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PARTY Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"PARTY",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_FORM Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_FORM",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_SEGMENT Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT_A Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_SEGMENT",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_SEGMENT_A Refined load",
						"description": "policy_segment_attribute",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_ACTION Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_SEGMENT_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PARTY_ADDRESS Refinedload",
						"description": "party_address",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"PARTY_ADDRESS",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_NONPREMIUM Refined load",
						"description": "policy_nonpremium",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_NONPREMIUM",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_NONPREMIUM_TRANSACTION Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_NONPREMIUM_TRANSACTION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_ACTION_JOB Refined load",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"refined_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_ACTION_JOB",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"application_short_name": {
						"type": "string"
					},
					"source": {
						"type": "string"
					},
					"audit_db": {
						"type": "string"
					},
					"source_db": {
						"type": "string"
					},
					"target_db": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "APP_SHARED"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_pl_policy_risk_unit_refined_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "POLICY_LOB_RISK_UNIT Refined load",
						"description": "policy_lob_risk_unit",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_LOB_RISK_UNIT",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "POLICY_LOB_RISK_UNIT_SEGMENT Refined load",
						"description": "policy_nonpremium_transaction",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB_RISK_UNIT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"POLICY_LOB_RISK_UNIT_SEGMENT",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_RISK_UNIT_SEGMENT_ATTRIBUTE refined load",
						"description": "LOB_RISK_UNIT_SEGMENT_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "LOB_LOCATION refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"LOB_RISK_UNIT_SEGMENT_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_RISK_UNIT_ADDITIONAL_ATTRIBUTE refined load",
						"description": "LOB_RISK_UNIT_ADDITIONAL_ATTRIBUTE",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "LOB_RISK_UNIT_SEGMENT_ATTRIBUTE refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"LOB_RISK_UNIT_ADDITIONAL_ATTRIBUTE",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LOB_LOCATION refined load",
						"description": "lob_location",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "POLICY_LOB_RISK_UNIT_SEGMENT Refined load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/main_adf_setup.py",
							"parameters": [
								"stage_load",
								"@pipeline().parameters.application_short_name",
								"@pipeline().parameters.source",
								"@pipeline().parameters.audit_db",
								"@pipeline().parameters.source_db",
								"@pipeline().parameters.target_db",
								"LOB_LOCATION",
								"refined",
								"@pipeline().parameters.environment"
							],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/jars/cyberclouddatapipeline/industryclouddatapipeline-0.1.5-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"application_short_name": {
						"type": "string"
					},
					"source": {
						"type": "string"
					},
					"audit_db": {
						"type": "string"
					},
					"source_db": {
						"type": "string"
					},
					"target_db": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "APP_SHARED"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-16T09:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		}
	]
}